body { font-family: 微软雅黑,MingLiU; margin-top: 5px; margin-bottom: 0px; margin-left:50px; margin-right:50px; }


.Content_style1 { font-family: 微软雅黑,MingLiU; font-size: 12px; }
.Content_style1 td{ font-family: 微软雅黑,MingLiU; background-color:#CEE3F6;border-bottom:1px solid black;}

.Title_style1 { font-family: 微软雅黑,MingLiU; font-size: 15px; font-weight: bold; font-color:#c3c3c3;}
.Title_style2 { font-family: 微软雅黑,MingLiU; font-size: 15px; font-weight: bold; font-color:#c3c3c3;background-color:#A4A4A4; } 
	
.style5 {color:#FF0000;text-align:center;} 

